.logo{
    background-color:wheat;
    color: poo;
    font: 50px verdana;
    text-align: center;
    text-shadow: gold 8px 8px 8px;
    border: groove green 15px;
    letter-spacing: 50px;

}